<p class="text-success" align="center" id="notice"><%= notice %></p>

<h1 align="center">Thank you</h1>


<div align="center" id="anotherone">
<!-- # <%= link_to "Post another open role", :controller => "jobs", :action => "new", :class => "btn btn-primary"%> -->
<a class="btn btn-primary" <%= link_to "Post another open role", :controller => "jobs", :action => "new"%>

</div>
